<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <title>Timothy Mather</title>
    </head>
    <body>
        <div class="body">
            <div class="sidebar">
                <p>this is where an imag goes</p>
                <p><a href="/star-gazer">Star Gazer</a></p>
                <p><a href="/chirp-nets">Chirp Nets</a></p>
                <p><a href="/folklore">Folklore</a></p>
                <p><a href="/mothership">Mothership Character Generator</a></p>
                <p><a href="/playground">Other Projects</a></p>
            </div>
            <div class="main">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <div class="footer">
            <p>THIS IS TEXT IN FOOTER</p>
        </div>
    </body>
</html> 
